.latest-news {
    margin: 60px 0 0 0;
}

.news-box {
    height: 400px;
    overflow-y:auto;
    overflow-x:hidden;
    border-bottom: 1px solid #ddd;
}

.latest-news .title  {
    background-color:#a62107;
    font-weight: 600
}

.single-title h2 {
    font-size: 25px;
    font-weight: 700;
    color: #222;
    line-height: 36px;
    margin-bottom: 5px;
}


.single-content .single-img-desc{
     border-bottom: 1px solid #ddd;
     background-color: #666666;
     text-align: center;
     color: #fff;
     padding: 10px 0;
}