.SPSecTitle{
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
 }

 .SPSecTitle ul {
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
   gap: 0 10px;
 }
 
 .SPSecTitle h2{
    color: #a62107;
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 6px;
    display: inline-block;
 } 